<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.EprogramConnectionString"
            connectionString="Data Source=MINT-PC;Initial Catalog=Eprogram;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.EprogramConnectionString1"
            connectionString="Data Source=DESKTOP-1P8H70G\SQLEXPRESS;Initial Catalog=Eprogram;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>