<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.EprogramConnectionString"
            connectionString="Data Source=cmu.vanlanguni.edu.vn;Initial Catalog=team5;user id=team5;password=crodrabraw"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.EprogramConnectionString1"
            connectionString="Data Source=cmu.vanlanguni.edu.vn;Initial Catalog=team5;user id=team5;password=crodrabraw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>